main {
    width: 100%;
    text-align: center;
}

.selectWeatherSec {
    width: 320px;
    margin: auto;
    text-align: center;
}

button:focus {
    outline: none;
}

.mainLogo {
    border-radius: 50%;
    width: 420px;
    display: inline-block;
    margin: auto;
}

@media only screen and (max-width: 425px) {
    .mainLogo {
        width: 350px;
    }
} 

@media only screen and (max-width: 350px) {
    .mainLogo {
        width: 250px;
    }
} 